.myfont{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: aquamarine !important;
}
.myimg{
    width: 50% !important;
}
.myitalics{
    font-style: italic !important;
}